<div class="container py-5 my-5">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h2 class="display-5 fw-bold">El Arte de la Colaboración <span class="text-muted fw-light">(O cómo salvar el semestre)</span></h2>
            <p class="lead mt-3 text-secondary">Dicen que el trabajo en equipo divide las tareas y multiplica el éxito. A veces, simplemente multiplica las anécdotas. </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/img/1.jpg" alt="Heisenberg" class="img-fluid rounded-circle shadow-sm" style="max-width: 280px;">
        </div>
    </div>
</div>